dataset/annotations/
dataset/images/

trainval_128/images/
trainval_128/annotations/

trainval_256/images/
trainval_256/annotations/

trainval_64/images/
trainval_64/annotations/

trainval_32/images/
trainval_32/annotations/

trainval_256.zip
